<!DOCTYPE html>
<html class="h-100" lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,
                                   initial-scale=1,
                                   maximum-scale=1,
                                   shrink-to-fit=no,
                                   user-scalable=no"/>

    <title><%= title %></title>
    <link rel="canonical" href="<%= canonical_url %>"/>
    <meta name="description" content="<%= description %>"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@kotovalexarian"/>
    <meta name="twitter:creator" content="@kotovalexarian"/>
    <meta name="twitter:title" content="<%= title %>"/>
    <meta name="twitter:description" content="<%= description %>"/>
    <meta name="twitter:image" content="<%= thumbnail %>"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="<%= canonical_url %>"/>
    <meta property="og:title" content="<%= title %>"/>
    <meta property="og:description" content="<%= description %>"/>
    <meta property="og:image" content="<%= thumbnail %>"/>

    <%= favicon_tag 'logo.jpg' %>
    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :site %>
  </head>

  <body class="d-flex flex-column h-100">
    <header>
      <%= partial 'navbar' %>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer class="footer mt-auto py-3 border-top">
      <%= partial 'advert' %>
    </footer>
  </body>
</html>
