<!DOCTYPE html>
<html class="h-100" lang="<%= I18n.locale %>">
  <head>
    <script async
            src="https://www.googletagmanager.com/gtag/js?id=UA-142587015-1">
    </script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-142587015-1');
    </script>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,
                                   initial-scale=1,
                                   maximum-scale=1,
                                   shrink-to-fit=no,
                                   user-scalable=no"/>

    <title><%= title %></title>
    <link rel="canonical" href="<%= canonical_url %>"/>
    <meta name="description" content="<%= description %>"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@kotovalexarian"/>
    <meta name="twitter:creator" content="@kotovalexarian"/>
    <meta name="twitter:title" content="<%= title %>"/>
    <meta name="twitter:description" content="<%= description %>"/>
    <meta name="twitter:image" content="<%= image_path 'logo.jpg' %>"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="<%= canonical_url %>"/>
    <meta property="og:title" content="<%= title %>"/>
    <meta property="og:image" content="<%= image_path 'logo.jpg' %>"/>

    <%= favicon_tag 'logo.jpg' %>
    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :site %>
  </head>
  <body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <% link_to 'index.html', class: 'navbar-brand' do %>
        <%= image_tag 'logo.jpg', width: 30, height: 30, alt: '' %>
        <%= translate :title %>
      <% end %>

      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
