<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,
                                   initial-scale=1,
                                   maximum-scale=1,
                                   shrink-to-fit=no,
                                   user-scalable=no"/>

    <title><%= I18n.translate :title %> | <%= I18n.translate :summary %></title>
    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :site %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= link_to I18n.translate(:title), 'index.html', class: 'navbar-brand' %>

      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
