---
---
<div class="container mt-4">
  <h1><%= library_item.title.presence or raise %></h1>

  <div class="row">
    <div class="col-sm-6 col-lg-4">
      <%= image_tag library_item_image(library_item),
                    class: 'img-fluid',
                    alt: translate(:cover) %>
    </div>

    <div class="col-sm-6 col-lg-4">
      <dl class="mt-4">
        <dt><%= translate :language %></dt>
        <dd><%= library_item.language.presence or raise %></dd>

        <dt><%= translate :isbn13 %></dt>
        <dd><%= library_item.isbn13 %></dd>

        <dt><%= translate :isbn10 %></dt>
        <dd><%= library_item.isbn10 %></dd>

        <dt><%= translate :authors %></dt>
        <dd><%= library_item.authors %></dd>

        <dt><%= translate :edition %></dt>
        <dd><%= library_item.edition %></dd>

        <dt><%= translate :binding %></dt>
        <dd><%= library_item.binding %></dd>

        <dt><%= translate :publisher %></dt>
        <dd><%= library_item.publisher %></dd>

        <dt><%= translate :year %></dt>
        <dd><%= library_item.year %></dd>

        <dt><%= translate :month %></dt>
        <dd><%= library_item.month %></dd>
      </dl>
    </div>
  </div>

  <hr/>

  <p><%= library_item.description.split("\n").join('<br/><br/>') %></p>
</div>
