---
title: ~Blog
pageable: true
per_page: 10
---
<div class="container">
  <% if paginate && num_pages > 1 %>
    <p>Page <%= page_number %> of <%= num_pages %></p>

    <% if prev_page %>
      <p><%= link_to 'Previous page', prev_page %></p>
    <% end %>
  <% end %>

  <% page_articles.each do |article| %>
    <div class="card mt-4">
      <div class="row no-gutters">
        <% if article.data[:image] %>
          <div class="col-md-3">
            <%= image_tag article.data[:image],
                          alt: article.title,
                          class: 'card-img' %>
          </div>
        <% end %>

        <div class="<%= article.data[:image] ? 'col-md-9' : 'col-md-12' %>">
          <div class="card-body">
            <% link_to article do %>
              <h5 class="card-title">
                <%= article.title %>
              </h5>
            <% end %>

            <p class="card-text">
              <%= article.summary 250 %>
            </p>

            <p class="card-text">
              <%= partial 'date_and_tags',
                          locals: { date: article.date,
                                    tags: article.tags } %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if paginate %>
    <% if next_page %>
      <p><%= link_to 'Next page', next_page %></p>
    <% end %>
  <% end %>
</div>
