---
title: donate
---
<div class="container">
  <div class="row">
    <% data.donate.each do |donate| %>
      <div class="col-lg-6">
        <div class="card mt-4">
          <div class="card-body">
            <% if donate.title %>
              <h5 class="card-title">
                <%= donate.title %>
              </h5>
            <% end %>

            <% if donate.subtitle %>
              <h6 class="card-subtitle text-muted">
                <%= donate.subtitle %>
              </h6>
            <% end %>

            <% if donate.value %>
              <p class="card-text mt-2">
                <code><%= donate.value %></code>
              </p>
            <% end %>

            <% if donate.link %>
              <% link_to donate.link,
                         target: :_blank,
                         class: 'card-link' do %>
                <%= translate :link %>

                <small class="text-muted">
                  <i class="fas fa-external-link-alt"></i>
                </small>
              <% end %>
            <% end %>

            <% if donate.history %>
              <% link_to donate.history,
                         target: :_blank,
                         class: 'card-link' do %>
                <%= translate :history %>

                <small class="text-muted">
                  <i class="fas fa-external-link-alt"></i>
                </small>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
