---
---
<div class="container">
  <% data.terms.each_with_index do |term, term_index| %>
    <% names = global_term_names term %>
    <% summ  = term_summary term %>

    <% unless term_index.zero? %>
      <hr/>
    <% end %>

    <%= term_link term %>

    <p id="<%= term %>">
      <% names.each do |name, name_index| %>
        <strong><%= name %></strong><%= ',' unless name_index.zero? %>
      <% end %>

      <% unless summ.nil? %>
        &mdash;
        <%= summ %>
      <% end %>
    </p>
  <% end %>
</div>
