---
---
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1><%= I18n.translate :title %></h1>
    <p class="lead"><%= I18n.translate :summary %></p>
  </div>
</div>

<div class="container">
  <% data.terms.each_with_index do |term, term_index| %>
    <% names = global_term_names term %>
    <% summ  = I18n.translate term, scope: %i[terms summaries], default: nil %>

    <% unless term_index.zero? %>
      <hr/>
    <% end %>

    <a href="#<%= term %>"><small>[link]</small></a>

    <p id="<%= term %>">
      <% names.reverse.each_with_index.reverse_each do |name, name_index| %>
        <strong><%= name %></strong><%= ',' unless name_index.zero? %>
      <% end %>

      <% unless summ.nil? %>
        &mdash;
        <%= summ %>
      <% end %>
    </p>
  <% end %>
</div>
