---
---
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1><%= translate :title %></h1>
    <p class="lead"><%= translate :description %></p>
  </div>
</div>

<div class="container">
  <div class="text-center">
    <% link_to 'https://t.me/crypto_libertarian' do %>
      <i class="fab fa-telegram"></i>
      <%= translate :telegram_channel %>
    <% end %>
  </div>

  <div class="text-center">
    <% link_to 'https://t.me/crypto_libertarian_chat' do %>
      <i class="fab fa-telegram"></i>
      <%= translate :telegram_chat %>
    <% end %>
  </div>

  <div class="text-center">
    <% link_to 'https://www.youtube.com/channel/UCj9VPPL4riHinL3N9RbmLww' do %>
      <i class="fab fa-youtube"></i>
      <%= translate :youtube_channel %>
    <% end %>
  </div>
</div>
