---
title: ~Matrix
description: ~Matrix_description
---

<div class="container mt-4">
  <h1><%= translate :Matrix %></h1>

  <p><%= translate :Matrix_foreword %></p>

  <h2><%= translate :Matrix_capabilities %></h2>

  <ul>
    <li><%= translate :Transp_comm_between_users_of_diff_servers %></li>
    <li><%= translate :End_to_end_encryption_of_private_and_group_chats %></li>
    <li><%= translate :Sync_of_msgs_and_media_between_devices %></li>
    <li><%= translate :Voice_video_comm_yet_doesnt_work_on_our_server %></li>
    <li><%= translate :Bridges_with_other_msgrs_eg_telegram %></li>
  </ul>

  <h2><%= translate :Server_info %></h2>

  <ul>
    <li>
      <%= translate :Base_url_for_sign_up_and_sign_in %>:
      <code>https://matrix.crypto-libertarian.com</code>
    </li>

    <li>
      <%= translate :Server_name_public_suffix %>:
      <code>crypto-libertarian.com</code>

      <ul>
        <li>
          <%= translate :Username_example %>:
          <code>@username:crypto-libertarian.com</code>
        </li>

        <li>
          <%= translate :Room_name_example %>:
          <code>#roomname:crypto-libertarian.com</code>
        </li>

        <li>
          <%= translate :Community_name_example %>:
          <code>+communityname:crypto-libertarian.com</code>
        </li>
      </ul>
    </li>

    <li>
      <%= translate :Static_content_view %>:
      <a href="https://matrix.crypto-libertarian.com">
        https://matrix.crypto-libertarian.com
      </a>
    </li>
  </ul>
</div>
